.header {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  transition: .3s all;
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 170px;
    padding: 15px 15px 15px 0;
  }
  &__burger {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    border: 1px solid #fff;
    border-radius: 100px;
    font-size: 20px;
  }
  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
  &__phone {
    transition: .3s all;
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 300;
    line-height: 45px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
.header.active {
  background: rgba(0, 0, 0, 1);
  border-bottom: 1px solid #fff;
  .header__wrapper {
    min-height: initial;
  }
  .header__logo {
    width: 105px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
@media (max-width: 1022px) {
  .header {
    background: rgba(0, 0, 0, .8);
    &__wrapper {
      min-height: initial;
    }
    &__logo {
      width: 105px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    &__phone {
      font-size: 16px;
      gap: 5px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}
@media (max-width: 606px) {
  .header {
    &__logo {
      position: static;
      transform: translate(0, 0);
    }
    &__phone {
      display: none;
    }
  }
}